<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="../public/views/style/material-kit.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/views/style.css">
</head>
<body>
    <% include partials/header %>
    <div class="clearfix"></div>
    <br>
    <br>
    <div class="main_block">
        <div class="col-md-8">
            <div class="card card-signup">
                <h3 class="text-center"><%= group.title %></h3>
                <hr>
                <p><%= group.description %></p>
                <% group.admins.forEach((admin) => {  %>
                    <% if (reqUser && ((admin._id == reqUser._id) || (JSON.stringify(group.creator._id) == JSON.stringify(reqUser._id)))) {%>
                        <a id="inline" href="#" class="btn btn-primary"  data-toggle="modal" data-target="#myModal2">Edit</a>
                    <% } %>
                <% }) %>
                 <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Edit group</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/group/edit" method="post">
                                    <div class="form-group">
                                        <input type="text" name="title" placeholder="title" class="form-control" value="<%= group.title %>">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="description" class="form-control" rows="5"><%= group.description %></textarea>
                                    </div>
                                    <input type="text" name="group_id" placeholder="title" class="hidden" value="<%= group._id %>">
                                    <div class="clearfix"></div>
                                    <input type="submit" value="Add group" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% group.admins.forEach((admin) => {  %>
                <% if (reqUser && ((admin._id == reqUser._id) || (JSON.stringify(group.creator._id) == JSON.stringify(reqUser._id)))) {%>
                    <div class="card card-signup">
                        <form action="/post/new" method="post" enctype='multipart/form-data' id="addNewPost">
                            <input type="text" name="type" value="Post" class="hidden">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="title" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="description" placeholder="description" class="form-control">
                            </div>
                            <div class="hidden">
                                <input name='group_id' id='group_id' type='text' value="<%= group._id %>">
                            </div>
                            <input name='file' id='file' type='file' value="file" class="form-control">
                            <div class="form-group">
                                <input type="submit" value="Add post" class="btn btn-primary width100">
                            </div>
                        </form>
                    </div>
                <% } %>
            <% }) %>
            <%  group.news.forEach((item)=> { %>
                <div class="card card-signup">
                        <p><%= item.title %></p>
                        <p><%= item.description %></p>
                    <% if (item.photo) {%>
                        <img src="<%= item.photo.path %>" alt="" class="img-responsive">
                    <% } %>
                    <% if (reqUser) {%>
                        <form action="/post/like/id<%= item._id %>" method="post">
                            <input type="text" class="hidden" name="news_id" value="<%= item._id %>">
                            <% if (item.likes_persons.indexOf(reqUser._id) == -1)  {%>
                                <input type="submit" class="btn btn-primary" value="Like">
                            <% } else { %>
                                <input type="submit" class="btn btn-primary" value="Dislike">
                            <% } %>
                            <span class="badge"><%= item.likes_count %></span>
                        </form>
                        <form action="/news/repost" method="post">
                            <input type="text" class="hidden" name="news_id" value="<%= item._id %>">
                            <input type="text" class="hidden" name="user_id" value="<%= reqUser._id %>">
                            <% if (item.repost_persons.indexOf(reqUser._id) == -1)  {%>
                                <input type="submit" class="btn btn-primary" value="Repost">
                            <% } else { %>
                                <input type="submit" class="btn btn-primary" value="Unrepost">
                            <% } %>
                            <span class="badge"><%= item.repost_count %></span>
                        </form>
                    <% } %>
                </div>
            <% }) %>
        </div>
        <div class="col-md-4">
            <div class="card card-signup">
                <% if (!group.avatar) { %>
                    <img src="../public/uploads/avatar/no-photo.png" alt="" class="img-responsive">
                <%} else {%>
                    <img src="<%= group.avatar.path %>" alt="" class="img-responsive messageAvatar">
                <% } %>
                <% group.admins.forEach((admin) => {  %>
                    <% if (reqUser && ((admin._id == reqUser._id) || (JSON.stringify(group.creator._id) == JSON.stringify(reqUser._id)))) {%>
                        <form action='/group/avatar' method='post' class="group_form" enctype='multipart/form-data'>
                            <div class="hidden">
                                <input name='group_id' id='group_id' type='text' value="<%= group._id %>">
                            </div>
                            <input name='file' id='file' type='file' value="file" class="form-control">
                            <input type='submit' value='Add group avatar' class="btn btn-primary form-control">
                        </form>
                    <% } %>
                <% }) %>
            </div>
            <div class="card card-signup">
                <div class="card-header">
                    <p class="text-center">
                        Subscribers
                    </p>
                </div>
                <div class="card-block">
                    <% if (group.subscribers) { %>
                        <% group.subscribers.forEach((subscriber)=> { %>
                            <% if (reqUser) {%>
                                <% if (JSON.stringify(subscriber._id) != JSON.stringify(reqUser._id)) {%>
                                    <a href="/user/id<%= subscriber._id %>">
                                        <div class="col-md-4 subscriber">
                                            <p class="text-center"><%= subscriber.name %></p>
                                            <% if (!subscriber.avatar) { %>
                                            <img src="../public/uploads/avatar/no-photo.png" id="avatar" alt="" class="img-responsive">
                                            <%} else {%>
                                            <img src="<%= subscriber.avatar.path %>" alt="" class="img-responsive">
                                            <% } %>
                                        </div>
                                    </a>
                                <% } %>
                            <% } else { %>
                                <a href="/user/id<%= subscriber._id %>">
                                    <div class="col-md-4 subscriber">
                                        <p class="text-center"><%= subscriber.name %></p>
                                        <% if (!subscriber.avatar) { %>
                                        <img src="../public/uploads/avatar/no-photo.png" id="avatar" alt="" class="img-responsive">
                                        <%} else {%>
                                        <img src="<%= subscriber.avatar.path %>" alt="" class="img-responsive">
                                        <% } %>
                                    </div>
                                </a>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/views/scripts/material.min.js"></script>
    <script src="../public/views/scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $(".form-group").click(function() {
                $(this).addClass("is-focused");
            });
        });
    </script>
</body>
</html>
